:root {
    --default: #E0E0E0;
    --primary: #2E4F99;
    --secondary: #757575;
    --success: #4CAF50;
    --danger: #F44336;
    --info: #2196F3;
    --warning: #FFC107;
    --pageBackground: #EFEFEF;
    --primaryBackground: #FFFFFF;
    --secondaryBackground: #F5F5F5;
    --primaryText: rgb(var(--gray700));
    --secondaryText: rgb(var(--white));
    --mutedText: rgb(var(--gray500));
    --light: var(--white);
    --dark: var(--black);
    --white: 255, 255, 255;
    --gray100: 245, 245, 245;
    --gray200: 238, 238, 238;
    --gray300: 224, 224, 224;
    --gray400: 189, 189, 189;
    --gray500: 158, 158, 158;
    --gray600: 117, 117, 117;
    --gray700: 97, 97, 97;
    --gray800: 66, 66, 66;
    --gray900: 33, 33, 33;
    --black: 0, 0, 0;
    --baseFontSize: 1rem;
    --baseFontWeight: var(--weightRegular);
    --weightRegular: 400;
    --weightMedium: 500;
    --weightBold: 900;
    --metaColor: var(--mutedText);
    --metaSize: 0.8rem;
    --metaWeight: var(--weightRegular);
    --hrColor: rgba(var(--dark), 0.05);
    --hrHeight: 1px, --hrSpacing: var(--spacing);
    --borderSM: solid 1px rgb(var(--gray200));
    --border: solid 1px rgb(var(--gray300));
    --borderLG: solid 1px rgb(var(--gray400));
    --borderRadiusSM: 0.175rem;
    --borderRadius: 0.5rem;
    --borderRadiusLG: 0.5rem;
    --boxShadowSM: 0 1px 2px 1px rgba(var(--black), 0.15);
    --boxShadow: 0 1px 4px 1px rgba(var(--black), 0.15);
    --boxShadowLG: 0 1px 8px 1px rgba(var(--black), 0.15);
    --spacingSM: 0.5rem;
    --spacing: 1.0rem;
    --spacingLG: 2rem;
    --paddingSM: 0.5rem;
    --padding: 1.0rem;
    --paddingLG: 2rem;
    --cardPaddingSM: 1.8rem;
    --cardPadding: 2.0rem;
    --cardPaddingLG: 3.0rem;
    --buttonPaddingSM: 0.35rem;
    --buttonPadding: 0.5rem;
    --buttonPaddingLG: 1.0rem;
    --inputPadding: 0.5rem;
    --inputBackground: rgba(var(--dark), 0.04);
    --inputBackgroundFocused: rgba(var(--dark), 0.025);
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: var(--pageBackground);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--pageBackground);
}


/*	ANIMATIONS
	==================== */

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scaleX(1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}


/*	WILDCARD
	==================== */

* {
    -webkit-transition-property: background, color, opacity, filter, -webkit-filter;
    -o-transition-property: background, color, opacity, filter, -webkit-filter;
    transition-property: background, color, opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}


/*	BODY
	==================== */

html,
body {
    background: var(--pageBackground);
    color: var(--primaryText);
    font-family: var(--baseFontFamily), sans-serif;
    font-size: var(--baseFontSize);
    font-weight: var(--baseFontWeight);
    line-height: 1rem;
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}

#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

#index {
    margin-bottom: var(--spacingLG);
}

.title {
    background: #071529;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    margin-top: -55px;
    margin-bottom: 25px;
}

.title .title-h1 {
    font-size: 2.0rem;
    padding: 25px 0px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title .subtitle-p {
    margin-top: -30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #baf6f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.0rem;
}


/*	PARTICLES
	==================== */

.particles {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 99;
}


/*	HEADER
	==================== */

.header {
    background: -o-linear-gradient(bottom, rgba(var(--black), 0.15), rgba(var(--black), 0.15)), var(--primary);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(var(--black), 0.15)), to(rgba(var(--black), 0.15))), var(--primary);
    background: linear-gradient(to top, rgba(var(--black), 0.15), rgba(var(--black), 0.15)), var(--primary);
    background-position: center;
    padding: calc(var(--paddingLG) * 2) 0;
}

.header>.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .header>.container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .header .header-logo {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
}

.header .site-name h1 {
    margin: 0;
    color: var(--secondaryText);
    font-size: 1.75rem;
    font-weight: var(--weightBold);
    text-transform: uppercase;
}

.header .site-name h1 a:hover {
    color: var(--secondaryText);
    text-decoration: none;
    opacity: 0.75;
}

.header .site-logo a img {
    max-width: 450px;
    max-height: 200px
}

@media (max-width: 576px) {
    .header .site-logo a img {
        max-width: 100%;
        height: auto;
    }
}

.header .site-logo.animated a img {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: pulse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


/*
.header .server-status {
	color: var(--secondaryText);
	font-size: 0.9rem;
	font-weight: var(--weightMedium);
	text-align: center;
	text-transform: uppercase;
}

@media (max-width: 992px) {
	.header .server-status {
		margin-top: calc(var(--spacingLG) * 1.5);
	}
}

@media (max-width: 576px) {
	.header .server-status {
		font-size: 0.85rem;
	}
}

.header .server-status .server-ip {
	font-size: 0.9em;
	font-weight: var(--weightRegular);
	opacity: 0.9;
}
*/


/*	HEADER DISCORD
	==================== */

.header-discord {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 350px;
    text-decoration: none !important;
    opacity: 0.85;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media (max-width: 992px) {
    .header-discord {
        width: auto;
        margin-top: var(--spacing);
        margin-bottom: calc(var(--spacing) * 0.5);
    }
}

.header-discord:hover {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
    opacity: 1;
}

@media (max-width: 992px) {
    .header-discord:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.header-discord i {
    color: rgb(var(--white)) !important;
}

.header-discord .discord-icon {
    color: rgb(var(--white)) !important;
    font-size: 2.5rem;
    margin-right: 12px;
}

@media (max-width: 992px) {
    .header-discord .discord-icon {
        display: none;
    }
}

.header-discord .discord-content {
    color: rgba(var(--white), 0.75) !important;
    font-size: 0.89em;
}

@media (max-width: 992px) {
    .header-discord .discord-content {
        text-align: center;
    }
}

.header-discord .discord-title {
    color: rgb(255, 208, 0) !important;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 0.1rem;
}


/*	HEADER MC SERVER
	==================== */

.header-server {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    width: 350px;
    text-decoration: none !important;
    opacity: 0.85;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media (max-width: 992px) {
    .header-server {
        width: auto;
        margin-top: var(--spacing);
    }
}

.header-server:hover {
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
    opacity: 1;
}

@media (max-width: 992px) {
    .header-server:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.header-server i {
    color: rgb(var(--white)) !important;
}

.header-server .server-icon {
    color: rgb(var(--white)) !important;
    font-size: 2.5rem;
    margin-left: 12px;
}

@media (max-width: 992px) {
    .header-server .server-icon {
        display: none;
    }
}

.header-server .server-content {
    color: rgba(var(--white), 0.75) !important;
    font-size: 0.89em;
    text-align: right;
}

@media (max-width: 992px) {
    .header-server .server-content {
        text-align: center;
    }
}

.header-server .server-title {
    color: rgb(var(--white)) !important;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 0.1rem;
}


/*	NAVBAR
	==================== */

.navbar {
    background: var(--primary);
    margin-bottom: 20px;
    padding: 0;
    border: none;
    -webkit-box-shadow: 0 -1px 4px 1px rgba(var(--black), 0.1);
    box-shadow: 0 -1px 4px 1px rgba(var(--black), 0.1);
    border-bottom: 5px solid rgba(var(--black), 0.1);
}

.navbar-nav .nav-link,
.navbar-toggler {
    background: none;
    padding: 1.3rem !important;
    border-radius: 0;
    text-transform: uppercase;
    color: var(--secondaryText) !important;
    font-size: .8rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .1rem;
}

.navbar-nav .nav-link i,
.navbar-toggler i {
    color: var(--secondaryText) !important;
    font-size: 0.9em;
    margin-right: 5px;
}

.navbar-nav .nav-item.active .nav-link {
    background: rgba(var(--black), 0.075);
}

.navbar-nav .nav-link:hover,
.navbar-toggler:hover {
    background: rgba(var(--black), 0.1);
}

@media (max-width: 576px) {
    .navbar-nav .dropdown {
        position: unset;
    }
    .navbar-nav .dropdown .dropdown-menu {
        min-width: unset;
        margin-right: var(--spacingSM);
        margin-left: var(--spacingSM);
        right: 0;
        left: 0;
    }
}

.navbar-nav .dropdown-toggle:after {
    display: none;
}

.navbar-nav.ml-auto {
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

@media (max-width: 992px) {
    .navbar-nav.ml-auto .nav-link i {
        margin: 0;
    }
    .navbar-nav.ml-auto .nav-link span {
        display: none;
    }
}


/*	NAV SIDEBAR
	==================== */

.nav-sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(var(--gray900), 0.975);
    height: 100vh;
    min-width: 300px;
    z-index: 999999;
    overflow: auto;
    -webkit-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    transform: translateX(-105%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media (max-width: 552px) {
    .nav-sidebar {
        display: block;
        width: 100%;
        min-width: auto;
    }
}

.nav-sidebar.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.nav-sidebar .nav-header {
    background: var(--primary);
    padding: var(--paddingLG) calc(var(--paddingLG) * 2);
    color: var(--secondaryText);
    font-size: 1.25rem;
    font-weight: var(--weightMedium);
    text-align: center;
    text-transform: uppercase;
}

.nav-sidebar .nav-header a:hover {
    color: var(--secondaryText);
    opacity: 0.75;
    text-decoration: none;
}

.nav-sidebar .nav-header .nav-close {
    float: right;
    font-size: .9rem;
    margin-right: calc(var(--paddingLG) * -1);
    opacity: 0.75;
}

.nav-sidebar .nav-header .nav-close:hover {
    opacity: 0.95;
}

.nav-sidebar .nav-header .nav-close:hover i {
    color: rgb(var(--white));
}

.nav-sidebar .nav-body {
    padding: var(--padding) 0;
}

.nav-sidebar .nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-sidebar .nav-link {
    color: var(--secondaryText);
    font-size: .85rem;
    padding: calc(var(--padding) * 0.75) calc(var(--padding) * 1.25);
}

.nav-sidebar .nav-link:hover {
    background: rgba(var(--white), 0.05);
}

.nav-sidebar .nav-link i {
    color: var(--secondaryText);
    margin-right: 12px;
}

.list-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-grow: 1;
    flex-basis: auto;
}

@media screen and (max-width: 1200px) {
    .list-cards {
        flex-grow: 2;
        flex-basis: auto;
        flex-wrap: wrap;
    }
}

.card-modes {
    background-color: rgb(31, 31, 36);
    text-align: center;
    padding: 25px;
}


/*	FOOTER
	==================== */

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    background: rgba(46, 46, 46, 0.972);
    padding: 10px 0px;
    padding-bottom: 0px;
}

footer .title {
    color: #f9a825;
    font-size: 18px;
}

footer .body {
    color: white;
    font-size: 12px;
}

footer .body a {
    color: #f9a825;
}

footer .body ul {
    padding: 0;
}

footer .body ul li {
    list-style-type: none;
    padding: 3px 2px;
}

footer .body ul li a {
    color: white;
}

footer .body ul li a i {
    color: #00a8ff;
}

footer .bottom {
    background: rgb(26, 26, 26);
    padding: 40px 0px;
    color: white;
    font-size: 12px
}

footer a {
    color: #00a8ff;
}

footer a:hover {
    color: #00a8ff;
}