    <div id="wrapper">

        <header class="header" style="background: url('https://i.imgur.com/1cstWp3.jpg') no-repeat center center / cover;">
            <div class="container">
                <a href="#" class="header-discord" id="header-discord">
                    <div class="discord-content">
                        <div class="discord-title"><i class="fas fa-arrow-circle-left"></i> Site principal</div>
                    </div>
                </a>

                <div class="header-logo">
                    <div class="site-logo animated">
                        <a href="https://hylex.net">
                            <img src="https://i.imgur.com/z6T5cAn.png" alt="Logo Hylex">
                        </a>
                    </div>
                </div>

                <a href="#" class="header-server" id="header-server" onclick="copy('#ip')">
                    <div class="server-icon">
                        <i class="fas fa-gamepad"></i>
                    </div>
                    <div class="server-content" id="server-content">
                        <div class="server-title">
                            <span id="ip">HYLEX.NET</span>
                        </div>
                        0 jogadores online
                    </div>
                </a>
            </div>
        </header>

        <div class="nav-sidebar" id="nav-sidebar">
            <div class="nav-container">
                <div class="nav-header">
                    <a href="/">HYLEX</a>
                    <a href="#" class="nav-close" id="nav-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>

                <div class="nav-body">
                    <ul class="nav-items">
                        <li class="nav-item">
                            <a href="/" target="" class="nav-link"> Início</a>
                        </li>
                        <!--<li class="nav-item">
                            <a href="/shop/rankup/vips" target="" class="nav-link disabled"><i class="fab fa-fort-awesome"></i> RankUP</a>
                        </li>-->
                        <li class="nav-item">
                            <a href="/minigames/vips" target="" class="nav-link"><i class="fas fa-trophy"></i> Minigames</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/cash" target="" class="nav-link"><i class="fas fa-coins"></i> Cash</a>
                        </li>
                        <li class="nav-item" id="account">
                            <a href="/account/last_orders" class="nav-link"><i class="fas fa-user"></i> <span>MINHA CONTA</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-xl" id="navbar">
            <div class="container">
                <a class="navbar-toggler" id="navbar-toggler">
                    <i class="fas fa-bars"></i> Menu
                </a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="/" target="" class="nav-link"> Início</a>
                        </li>
                        <!--<li class="nav-item">
                            <a href="/shop/rankup/vips" target="" class="nav-link disabled"><i class="fab fa-fort-awesome"></i> RankUP</a>
                        </li>-->
                        <li class="nav-item">
                            <a href="/minigames/vips" target="" class="nav-link"><i class="fas fa-trophy"></i> Minigames</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/cash" target="" class="nav-link"><i class="fas fa-coins"></i> Cash</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav ml-auto">
                    <div class="nav-item" id="account">
                        <a href="/account/last_orders" class="nav-link"><i class="fas fa-user"></i> <span>MINHA CONTA</span></a>
                    </div>
                </ul>
            </div>
        </nav>

        <div class="title">
            <h1 class="title-h1">CASH</h1>
            <p class="subtitle-p">COMPRE CASH E GASTE EM QUALQUER LUGAR</p>
        </div>

        <div class="container" id="index">
            <div class="row justify-content-center">
                
                <div class="list-cash">
                    <div class="card-cash">
                        <div>
                            <i class="fas fa-coins"></i>
                            <span>
                                <h1>1.250</h1>
                                <h2>CASH</h2>
                            </span>
                        </div>
                        <a href="/shop/payments/checkout">R$ 25,00</a>
                    </div>
                    <div class="card-cash">
                        <div>
                            <i class="fas fa-coins"></i>
                            <span>
                                <h1>2.150</h1>
                                <h2>CASH</h2>
                            </span>
                        </div>
                        <a href="/shop/payments/checkout">R$ 25,00</a>
                    </div>
                    <div class="card-cash">
                        <div>
                            <i class="fas fa-coins"></i>
                            <span>
                                <h1>3.350</h1>
                                <h2>CASH</h2>
                            </span>
                        </div>
                        <a href="/shop/payments/checkout">R$ 25,00</a>
                    </div>
                </div>
                <div class="list-cash">
                    <div class="card-cash">
                        <div>
                            <i class="fas fa-coins"></i>
                            <span>
                                <h1>6.250</h1>
                                <h2>CASH</h2>
                            </span>
                        </div>
                        <a href="/shop/payments/checkout">R$ 25,00</a>
                    </div>
                    <div class="card-cash">
                        <div>
                            <i class="fas fa-coins"></i>
                            <span>
                                <h1>8.150</h1>
                                <h2>CASH</h2>
                            </span>
                        </div>
                        <a href="/shop/payments/checkout">R$ 25,00</a>
                    </div>
                    <div class="card-cash">
                        <div>
                            <i class="fas fa-coins"></i>
                            <span>
                                <h1>10.500</h1>
                                <h2>CASH</h2>
                            </span>
                        </div>
                        <a href="/shop/payments/checkout">R$ 25,00</a>
                    </div>
                </div>

            </div>
        </div>

        <footer>
            <div class="bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            &copy; Hylex. Todos direitos reservados<br>
                            <span style="font-size: 8px; padding-top: 2px; color: rgb(216, 216, 216);">Não somos afiliados à Mojang AB.<br>Minecraft é um direito autoral da Mojang AB.</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
