    <!-- Info metas -->
    <base href="">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>{{title}}</title>

    <meta name="author" content="@Dugade, Dugade#0001">
    <meta name="description" content="Site desenvolvido para Hylex por: @Dugade, Dugade#0001">

    <meta property="og:title" content="HYLEX © - Loja">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hylex.net/">
    <meta property="og:description" content="Web services to Hylex.">

    <link rel="icon" type="image/png" href="https://i.imgur.com/z6T5cAn.png">

    <!-- Main css & Bootstrap -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/vendors/fontawesome.min.css" />
    <link rel="stylesheet" href="/static/css/vendors/toastr.min.css" />

    <link rel="icon" type="image/png" href="https://i.imgur.com/z6T5cAn.png" />